extends layout

block content
    .overlay
        .col-md-12(id="editAssignmentContainer")
            h2#assignmentToEdit
            hr
            form#editAssignment(method="PUT")
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                label(for="assignmentName") Assignment name:
                input.form-control(type="text", id="assignmentName", name="assignmentName", placeholder="In Class Lab 4", required)
                .form-group
                label(for="course") Course:
                select.form-control(id="course", name="course", autofocus, required)
                    option ITAS155
                    option ITAS191
                    option ITAS167
                    option ITAS185
                .form-group
                label(for="dueDate") Due date:
                input.form-control(type="date", id="dueDate", name="dueDate", required)
                .form-group
                label(for="dueTime") by what time:
                input.form-control(type="time", id="dueTime", name="dueTime", required)
                .form-group
                label(for="url") Assignment URL:
                input.form-control(type="url", id="url", name="url", required)
                .form-group
                label(for="note") Special note (optional):
                textarea.form-control(type="textarea", rows="3", id="note", name="note")
                hr
                .accept-cancel-edit
                    button.btn.btn-success.accept-edit-btn(type="submit") Accept
                    button.btn.btn-danger.cancel-edit-btn(type="button") Cancel
        .col-md-12(id="deleteAssignmentContainer")
            .confirmationMessage 
                h2 Are you sure you want to delete 
                    #assignmentToDelete
            hr
            .accept-cancel-delete
                button.btn.btn-success.accept-delete-btn Accept
                button.btn.btn-danger.cancel-delete-btn Cancel


    h1 Assignments
    .row
        .col-sm-6
            p.lead All assignments are listed below
        .col-sm-6
            .form-check.form-check-inline
                input.form-check-input(type="checkbox", id="dueOnly")
                label.form-check-label(for="dueOnly") Show only due assignments
        hr
        table.table
            thead
                tr
                    th(scope="col") Name
                    th(scope="col") Course
                    th(scope="col") Due
                    th(scope="col") Page
                    th(scope="col") Note
                    th(scope="col") Edit/Delete
            tbody
                for assignment in assignments
                    tr.assignmentRow
                        th.name(scope="row")= assignment.name
                        td.course= assignment.course
                        td.dueDate= assignment.dueDate.toLocaleString()
                        td.url
                            a.assignment-url-anchor(href=assignment.url) Link
                        td.note= assignment.note
                        td
                            button.btn.btn-info.edit-btn
                                i.fa.fa-edit
                            button.btn.btn-danger.delete-btn
                                i.fa.fa-trash



